@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.app {
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    letter-spacing: 0.1em;
}

.app h1 {
    margin-top: 2rem;
    color: rgb(65, 29, 99);
    font-weight: bold;
}

.app-container {
    height: 70vh;
    min-height: 50vh;
}
